html,body {
	background: url("http://th08.deviantart.net/fs70/PRE/i/2013/125/9/e/some_characters_dbz__collage__by_artmaker1936-d648anp.png");
}

/*---Menu Principal---*/ 

.top { width: 1020px; height: 50px; color: #f4f4f4; margin: 0px auto;}

.principalmenu { margin: 0px auto; width: 100%; background: url("../img/dd.png") #6767ea; border-top: 1px solid #6767ea; border-bottom: 1px solid #6767ea;
	 box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	 height: 40px
}

.principalmenu ul { 
	margin: 0 auto;
	width: 1020px;
}
.principalmenu ul li {
	float: left;
}
.principalmenu ul li a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline-block;
	text-decoration: none;
	color: White;
	font-size: 20px;
	text-shadow: 2px 2px 1px rgba(27, 27, 27, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.superior1 ul li {
	width: 1020px;
	margin-left: 5px;
}

.superior1 li { 
	display: inline-block;
	float: left;
	margin-left: 15px;
}
.superior1 li a { text-decoration: none;
	 color: black solid;	 
}
.superior2 li { display: inline-block;
	 float: right;
	 padding-right: 20px;	 
}

.contenedor-submenu-1 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-1 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-1 li {
	display: block;
	width: 100%
}

.contenedor-submenu-2 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-2 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-2 li {
	display: block;
	width: 100%
}

.contenedor-submenu-3 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-3 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-3 li {
	display: block;
	width: 100%
}

.contenedor-submenu-4 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-4 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-4 li {
	display: block;
	width: 100%
}

.contenedor-submenu-5 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-5 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-5 li {
	display: block;
	width: 100%
}

.contenedor-submenu-6 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-6 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-6 li {
	display: block;
	width: 100%
}

.contenedor-submenu-7 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-7 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-7 li {
	display: block;
	width: 100%
}

.contenedor-submenu-7 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-8 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-8 li {
	display: block;
	width: 100%
}

.imagen { width: 20px;
	 height: 20px
}

/*---contenedor columnas---*/
.container {
	width: 1000px;
	margin: 0px auto;
	background: #acacac;
	border-radius: 5px;

 }

.container h1 { margin-left: 30px; padding-top: 50px; font-family: 'Comic Sans Ms'Arial;}

.column-col { display: table; width: 100%; }
.col { float: left; display: table;}
.column1 { width: 600px; margin-right: 20px; margin-left: 30px}
.column1 h1 a { text-decoration: none; color: #03074a; font-family: 'Comic Sans Ms'Arial;}
.column1 h1 { padding-bottom: 10px; border-radius: 5px; padding-top: 30px; padding-left: 30px; width: 560px; height: 60px}
.column1 .sayjajins { background: url("http://1.bp.blogspot.com/-QZZS_B6ptFg/UBa5tfHtczI/AAAAAAAADxs/Tw1VlgbDVoU/s1600/La+Saga+de+los+Saiyajins.jpg"); }
.column1 .freezer {background: url("http://2.bp.blogspot.com/-mbMEDpops3k/UCAHSb_NuwI/AAAAAAAAD5g/fH_SJMyyZbA/s1600/La+saga+de+Freezer.jpg");}
.column1 .garlick {background: url("http://4.bp.blogspot.com/-dK6cuPZSDCU/UEbOhn9xSnI/AAAAAAAAEEc/HR-g-D_PCZM/s1600/La+saga+de+Garlick+jr.jpg");}
.column1 .cell {background: url("http://1.bp.blogspot.com/-_0jl_QMkOqg/UEbOhKLapxI/AAAAAAAAEEU/l8IylCuv4aE/s1600/La+saga+de+Cell.jpg");}
.column1 .majinbuu {background: url("http://1.bp.blogspot.com/-5A6cOOIv0pA/UEbOiJQWEkI/AAAAAAAAEEk/PcQ-tzn-IPg/s1600/La+saga+de+Majin+Buu.jpg"); margin-bottom: 40px}