html,body { 
	background: white;
	 margin: 0px;
	 padding: 0px;
	 font-family: 'Helvetica' Arial;

}
/* ----- Home de la Revista -----*/
.principalmenu { 
	width: 100%;
	 background: url("../img/dd.png") #6767ea;
	 border-top: 1px solid #6767ea;
	 border-bottom: 1px solid #6767ea;
	 box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	 height: 40px
}

.principalmenu ul { 
	margin: 0 auto;
	width: 1020px;
}
.principalmenu ul li {
	float: left;
}
.principalmenu ul li a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline-block;
	text-decoration: none;
	color: White;
	font-size: 20px;
	text-shadow: 2px 2px 1px rgba(27, 27, 27, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.superior1 ul li {
	width: 1020px;
	margin-left: 5px;
}

.superior1 li { 
	display: inline-block;
	float: left;
	margin-left: 15px;
}
.superior1 li a { text-decoration: none;
	 color: #ACACAC;
	 background: #f4f4f4
}
.superior2 li { display: inline-block;
	 float: right;
	 padding-right: 20px;
	 background: #f4f4f4
}

.contenedor-submenu-1 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-1 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-1 li {
	display: block;
	width: 100%
}

.contenedor-submenu-2 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-2 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-2 li {
	display: block;
	width: 100%
}

.contenedor-submenu-3 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-3 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-3 li {
	display: block;
	width: 100%
}

.contenedor-submenu-4 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-4 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-4 li {
	display: block;
	width: 100%
}

.contenedor-submenu-5 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-5 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-5 li {
	display: block;
	width: 100%
}

.contenedor-submenu-6 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-6 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-6 li {
	display: block;
	width: 100%
}

.contenedor-submenu-7 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-7 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-7 li {
	display: block;
	width: 100%
}

.contenedor-submenu-7 { 
	height: 0px; 
	position: relative; 
	width: 0px;
}

.submenu-8 { 
	position: relative; 
	top: 6px; 
	width: 108px !important; 
	background: #6794ef;
	padding: 2px;
	display: table;
}

.submenu-8 li {
	display: block;
	width: 100%
}

.imagen { width: 20px;
	 height: 20px
}

#logo { padding-top: 47px;
	 margin-left: 187px;
	 padding-bottom: 15px
}

.logo { width:180px;
	 height: 80px;
}

.articleimg { width: 400px ;
		padding-top: 5px;
}
.container { width: 950px;
	 margin: 0 auto;
	 }
.container section { width: 100%;
	 display: table;
	 padding-top: 10px 
}
.container article { margin-left: 2%;
	 margin-top: 2%;
	  display: table;
	 width: 47.8%;
	 height: 240px ;
 	float: left;
}
.container article img { float: left;
	 width: 200px; height: 150px
}
.articleimg2 { width: 200px;
	 padding-right: 20px;
}
.articleimg { 
	 width: 300px;
	 height: 150px;
	 padding-right: 20px;
}
.head {
	text-decoration: none;
	color: #4d873b;
	margin-top: 10px
}

.container section article h1 { font-size: 32px}
.container section article h2 { font-size: 22px}

.top { background: #f4f4f4;
	 height: 23px;
	 width: 100%;
	 padding-top: 5px;
	 padding-bottom: 10px;
	 font-size: 12px;
}
.top .contenedor-menu { width: 950px; margin: 0 auto; }
.superior1, .superior2 { position: relative;  top: -6px; }
section { width: 950px; float: left; display: inline; }
.noticia2 { font-size: 12px}


/*-- fuente texto col--*/
.contenedor-col { display: table; width: 100%}
.col-2, .col-3 { font-size: }
.col { float: left; display: table;}
.col-1 { width: 470px; margin-right: 20px}
.col-2 { width: 200px; margin-right: 20px }
.col-3 { width: 240px; }
